/*@baseimg : '../images/pt.png';*/
@font-face {
    font-family: 'sme';
    src: url(../font/NotoSans-Regular.woff) format('woff'),
         url(../font/NotoSans-Regular.ttf) format('truetype');
}

*{
	margin:0 auto;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: sme;
	box-sizing: border-box;
}



.w100{
	width:100%;
}

.w95{
	width:95%;
}

.w90{
	width:90%;
}

.w80{
	width:80%;
}

.w70{
	width:70%;
}

.w60{
	width:60%;
}

.w50{
	width:50%;
}

.w40{
	width:40%;
}

.w30{
	width:30%;
}

.w20{
	width:20%;
}

.w10{
	width:10%;
}
/*여기부터*/

body,html{
	height:100%;
	width:100%;
	animation-duration: .5s
}

body > section{
	height:100%;
	width:720px;
}

body > section{
	display: none;
}

body > #section1{
	display: block;
}


.bg{
	width:100%;
	height:100%;
	background:#191919;
	position: relative;
}

.bg > .bg_img, .shake_info{
	width:100%;
}

.content{
	position: absolute;
	left:0%;
	top: 0%;
    width: 100%;
    height: 100%;
}

.wrap{
	width: 100%;
    position: absolute;
    top: 31%;
    animation-duration: .5s
}

.wrap > img:first-child{
	width: 54%;
    margin-left: 23%;
}


.wrap > .cover{
	width: 55%;
    margin-left: 22.5%;
    margin-top: -16%;

}

.img_wraps{
	width:80%;
}

.slide{
	width:100%;
	position: relative;
}


.skip{
    position: absolute;
    width: 15%;
    top: 38%;
    right: 13%;
    cursor: pointer;
}

.skip > img{
	width:100%;
}

/* popup */
.popup, .user_info_wrap{
	width: 720px;
    height: 100%;
    position: fixed;
    top: 0%;
    background: rgba(0,0,0,0.5);
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display:none;
}

.user_wrap{
	background-image: url(../images/input-panel.png);
    width: 83%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 100%;
    position: relative;
}

.user_wrap > div:first-child{
    width: 80%;
    height: 47%;
    position: absolute;
    top: 36%;
    left: 10%;
}

.tables{
	width:100%;
	height:85%;
}
.tables tr td{
	vertical-align: middle;
}

.tables tr{
	width:100%;
}

.tables tr .title{	
	text-align: left;
	padding-left:5%;
	color:#313131;
	font-size: 1.4em;
	width:25%;
}

.tables tr td:last-child{
	width:75%;
}

.tables tr td input[type=text] ,input[type="date"], input[type="time"]{
	width:100%;
	height:60%;
	border:none;
	background:#fff;
	color: #313131;	
	font-size: 1.1em;
	padding-left:5%;
}

input[type="radio"] {
    display:none;
}

.tables tr td input[type=radio] + label span{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius:50%;
	cursor: pointer;
	vertical-align: sub;
	background-image:url('../images/btn-radio-off.png');
	background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 3%;
}


input[type="radio"]:checked + label span {
    background-image:url('../images/btn-radio-on.png') !important;
}	

.tables tr td label{
	color: #313131;	
	font-size: 1.1em;
	padding-left:5%;
}

.input{
	border:none;
	border-bottom:2px solid #D6D6D6;
	border-radius:0px 0px 5px 5px;
}

.loding_wrap ,.ajax_start{
	position: fixed;
    width: 720px;
    height: 100%;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;
}
.ajax_start > div{
	transform: translateY(-25%); 
    top: 50%;
    position: relative;
}

.loding_wrap > img{
	width:29%;
	margin-left:35.5%;
	margin-top: 50%;
    transform: translateY(-50%);
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4C1C1C;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

input[type="checkbox"]{
	display: none;
}

input[type="checkbox"] + label span{
	display:inline-block;
	width:20px;
	height:20px;
	background-image: url(../images/btn-check-off.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
	cursor: pointer;
	vertical-align: sub;
	margin-right: 3%;
}

input[type="checkbox"]:checked + label span{
	background-image:url('../images/btn-check-on.png') !important;
}


.result_btn_wrap{
	width:100%;
	margin-top:2%;
}

.result_btn_wrap > img{
	width:35%;
	display: block;
}

#d1, #h1{
	min-height:100%;
	min-width:93% !important;
	border:none;

}

.shake_info{
	position: absolute;
	bottom: 0%;
	display: none;
	left:0%;
}

.add_i{
	position: absolute;
	display:none;
	transition: .7s;
	animation-duration: .5s;
}

.item3{
	width:12.8%;
    top: 38%;
    left: 15%;
    transform: rotate(0deg);
}

.item1{
	width: 17.9%;
    top: 50%;
    left:75%;
    transform: rotate(0deg);
}

.item2{
	width:15%;
    top: 58%;
    left: 6%;
    transform: rotate(0deg);
}

.user_info_wrap{
	position: fixed;
	background:rgba(0,0,0,0.5);
	top:0%;
	width:720px;
	height:100%;
	z-index:20;
	left:50%;
	transform: translateX(-50%);	
	align-items: center;
    justify-content: flex-start;
}

.go_end{
	width: 90%;
    height: 20%;
    padding-top:5%;
}

.go_end > img{
	width:100%;

}

.text_user{
    width: 100%;
    height: 100%;
    padding-top: 8%;
    overflow-y: scroll;

}

.text_user > div{
	width:100%;
	margin:3% 0%;
}

.text_user > p {
	color: #4C1C1C;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    text-decoration: underline;
}

.text3 > div{
	margin-top: 3%;
    border-bottom: 1px solid #4C1C1C;
}

.exit{
    width: 15%;
    padding-top: 15%;
    position: absolute;
    top: 0%;
    right: 0%;
}

.ending_wrap{
	width: 75%;
	position: relative;
    display: none
}

.ending_wrap > img{
	width: 100%;
    display: block;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}


@media(max-width:720px){
	body > section{width:100% !important;}
	body > .popup, .user_info_wrap, .loding_wrap{width:100% !important;}
	.user_wrap > div:first-child{width: 85%;left: 7.5%;}
	.text_user{height:86%;}
}

@media(max-width:680px){
	.wrap > img:first-child{width:80%;margin-left:10%;}
	.tables tr td label{font-size:1em;}
	.tables tr td input[type=text], input[type="date"], input[type="time"]{font-size:1em;}
	.tables tr .title{font-size:1.2em;}
	.skip{right: 6%;width:20%;margin-top:2%;}
}

@media(max-width:600px){
	.user_wrap{width:100%;}
}

@media(max-width:500px){
	.tables tr .title{font-size:1em;}
	.tables tr td label{font-size:0.8em;}
	.tables tr td input[type=radio] + label span{width:17px;height:17px;margin-right:1.5%}
	input[type="checkbox"] + label span{width:17px;height:17px;margin-right:1.5%}
	.loding_wrap > img{width:40%;margin-left:30%;}
}

@media(max-width:400px){
	.tables tr .title{font-size:0.8em}
	.tables tr td input[type=text], input[type="date"], input[type="time"]{font-size:0.8em;}
	.tables tr td input[type=radio] + label span{width:15px;height:15px;}
	.tables tr td label{font-size:0.8em;padding-left:3%;}
	input[type="checkbox"] + label span{width:15px;height:15px;}
	.loding_wrap > img{width:50%;margin-left:25%;}
	.loader{width:100px;height:100px;}
}

@media(max-width:320px){
	.tables tr td label{padding-left:3%;font-size:0.7em;}
}

