.header1{
	position: fixed;
    height: 100vh;
    background: #fff;
    padding: 3% 2%;
    width: 15%;
    z-index: 10;
    border:1px solid #ddd;
}

.header2{
	width:100%;
	background:#fff;
	padding:2%;
	border-bottom:1px solid #ddd;
	display: none;
	clear:both;
	float:left;
}

.main_menu{
 	width:100%;
 	padding:5%;
 	margin-top:10%;
}

.main_menu > li{
	width:100%;
	padding:5% 0%;
	font-size:1.4em;
	text-align: center;
	cursor: pointer;
	position: relative;
	transition: .5s;
}

.main_menu > li::before{
	content: "";
	position: absolute;
	width:0%;
	bottom:0%;
	height:5%;
	left:0%;
	background:#413887;
	transition: 1s;
}

.main_menu > li::after{
	content: "";
	position: absolute;
	width:0%;
	bottom:0%;
	height:5%;
	right:0%;
	background:#413887;
	transition: 1s;
}

.main_menu > li:hover::before , .main_menu > li:hover::after{
	width:50%;
}

.main_menu > li:hover{
	color:#413887;
}

footer{
	clear:both;
	float:left;
	background:#413887;
	width: 85%;
    float: right;
    padding:5%;
    color:#fff;
    text-align: center;
}

.logo{
	padding:5%;
	text-align: center;
}

/*section1*/
.desk2{
	display:none;
}

#main_section{
	background:#413887;
	height:100vh;
	width:85%;
	float:right;
	position: relative;
	overflow:hidden;
}

.rd ,.rd2{
	position: absolute;
	transition: 2s;
	opacity:0;
	z-index:1;
}

.round{
	top:0%;
	width:25%;
	padding-bottom: 25%;
	border-radius: 50%;
	border:5px dashed rgba(0,0,0,0.2) ;
	left:-10%;
}

.round2{
	width:35%;
	padding-bottom:35%;
	border-radius:50%;
	right: -15%;
	top:20%;
	border:6px solid #2d86d5;
}

.round3{
	width:35%;
	padding-bottom: 35%;
	border-radius: 50%;
	background:#f65e8c;
	left:10%;
	bottom: -30%;

	
}

.round3::before{
	content:"";
	position:absolute;	
	width:70%;
	padding-bottom: 70%;
	border-radius:50%;
	background:#413887;
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

} 

.round4{
	width:25%;
	padding-bottom: 25%;
	top:-20%;
	border-radius: 50%;
	border:5px dashed rgba(255,255,255,0.5) ;
	right: 25%

}

.view_logo{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	margin-top:10%;
	opacity:0;
	transition: 1s;
	z-index:0;
}


/*main2_section*/

#main_section2{
	width:85%;
	float:right;
	position: relative;
}


.content_wrap > div{
	width:50%;
	float:left;
}

.content_wrap > div > img{
	width:100%;

}

.main2_about{
	padding:5%;
}

.main2_about > span{
	font-style: italic;
    font-weight: bold;
    font-size:2em;
    border-bottom:2px solid #f65e8c;
}

.about_text{
	margin-top:15%;
}

.about_text > div{
	font-size:1.2em;
	line-height:2em;
	margin-top:10%;
}
.view_about{
	width:100%;
	clear: both;
    float: right;
    position: absolute;
    top:0%;
}

.view_about > .abouts{
	width:50%;
	float:left;
	display: table;
	padding:5%;
	opacity:0;
	transition: 1s;
	height:655px
}

.show_about_title{
	font-style: italic;
    font-weight: bold;
    font-size:2em;
    text-align: center;
}

.view_about > div:first-child{
	background:rgba(65,56,135,0.3);
}

.view_about > div:nth-child(2){
	background: #2d86d5;
}

.view_about > div:nth-child(3){
	clear: both;
	width:7%;
	padding-bottom:7%;
	position: absolute;
	background:#413887;
	bottom: 0%;
	left:43%;
	overflow:hidden;
	transition: 1s;
	cursor: pointer;
}

.abouts > div{
	 width:100%;
	 display:table-cell;
     vertical-align: middle;
     color:#fff;
     margin-top:5%;  
     opacity:0;
     transition: 1s;  
}

.view_about > div:nth-child(3)::before{
	content: "+";
	position: absolute;
	color:#fff;
	text-align: center;
	top:50%;
	left:50%;
	font-size:3em;
	transform: translate(-50%,-50%);
	
}

.about_text{
	line-height: 2em;
	font-size: 1.2em
}

.abouts > div  > *{
	margin-top:20%;
	transition: 1s;
}

/*main3*/

#main3_section{
	width:85%;
	clear:both;
	float:right;
	height:655px;
}

#main3_section > div{
	float:left;
	padding:5%;
	display: table;
	height:100%;
}


#main3_section > div:first-child{
	width: 40%;
    font-size: 4em;
    text-align: right;
    color: #fff;
    background: #413887;

}

#main3_section > div:last-child{
	width:60%;
}

#main3_section > div:first-child > div{
	display:table-cell;
	vertical-align:middle
}

.stack{
	width:100%;
	height:100%;
}

.stack > li{
	width:33.33%;
	float:left;
	text-align: center;
	margin-top:15%;
	opacity:0;
	transition: .5s;

}

.stack > li > div:first-child{
	width:45%;
	position: relative;
	padding-bottom: 45%;
	border:4px solid #413887 ;
	transition: 1s;
}

.stack > li > div:nth-child(2){
	margin-top:5%;
	color:#413887;
	font-size:1.5em;
}

.stack > li > div:first-child:before{
	position: absolute;
	content:attr(data-font);
	text-align: center;
	top:0%;
	left:0%;
	width:100%;
	height: 100%;
	font-size:2em;
	transform: translateY(15%);
    padding-top: 20%;
    color:#413887;

}

/*main4*/

#main4_seciton{
	width:85%;
	clear:both;
	float:right;
	padding:5%;
}



.view_menu > li{
	margin-right: 3%;
	padding:0.5% 1.5%;
	float:left;
	font-size:1.2em;
	cursor: pointer;
	text-align: center;
	border-radius: 30px;
	transition: 1s;
}

.active_menu{
	color:#fff !important;
	background:#f65e8c;
}

.view_active{
	padding:5% 0%;
	clear:both;
	float:left;
	width:100%;
}

.view_active > div{
	padding:2%;
	width:33.33%;
	float:left;

}

.view_wrap{
	width:100%;
	
}

.view_wrap > div{
	width:100%;
	border:1px solid #ddd;
	margin-top:5%;
	cursor: pointer;
}

.view_img{
	padding:5%;
	width:100%;
	position: relative;
	overflow:hidden;
	
}

.view_img::before{
	content:"view";
	position: absolute;
	top:0%;	
	left:-100%;
	width:100%;
	height:100%;
	background :rgba(65,56,135,0.9);
	color:#fff;
	font-size:2em;
	font-weight: lighter; 
	text-align: center;
	padding-top:25%;
	transition: .5s;
}

.view_img:hover::before{
	left:0%;
}

.view_wrap > div > div > img{
	width:100%;
}

.view_content{
	padding:5%;
	width:100%;
}

.view_content > div{
	width:100%;
	padding:1%;
}

.view_content > div:first-child{
	font-size:1.4em;
}

.view_content > div:nth-child(2){
	color:#f65e8c;	
	font-size:1.2em;
}

.view_content > div:last-child{
	font-size:1.1em;
}


/*popup*/

.popup_box{
	width:100%;
	height:100vh;
	background:rgba(0,0,0,0.5);
	position:fixed;
	z-index:11;
	display: none;

}

.popup_box > div{
	float:left;
}

.popup_img_box{
	overflow-y: scroll;
	margin-top:5%;
	margin-left:25%;
}

.popup_close{
	float:right !important;
	color:#fff;
	padding: 1% 5%;
	font-size:4em;
	cursor: pointer;
	transition: 1s;
}

.popup_close:hover{
	transform: rotate(360deg)
}

.footer_font{
	margin-top:2%;
	font-size:1.2em;
	font-weight: lighter;
}

footer > img{
	width:10%;
}

/*header2*/
.main_menu2{
 	width:100%;
}

.main_menu2 > li{
	width:33.33%;
	padding:5% 0%;
	font-size:1.4em;
	text-align: center;
	cursor: pointer;
	position: relative;
	transition: .5s;
	float:left;
}

.main_menu2 > li::before{
	content: "";
	position: absolute;
	width:0%;
	bottom:0%;
	height:5%;
	left:0%;
	background:#413887;
	transition: 1s;
}

.main_menu2 > li::after{
	content: "";
	position: absolute;
	width:0%;
	bottom:0%;
	height:5%;
	right:0%;
	background:#413887;
	transition: 1s;
}

.main_menu2 > li:hover::before , .main_menu2 > li:hover::after{
	width:50%;
}

.main_menu2 > li:hover{
	color:#413887;
}

.header2 > div{
	width:50%;
	float:left;
}


/*media*/

@media (max-width:1660px){
	.stack > li > div:first-child::before{
		font-size:1.5em;
	}
}

@media(max-width:1500px){
	.about_text h4{
		font-size:1.3em;
		font-weight: lighter;
	}

	.about_text > div{
		line-height: 2em;
		font-size: 1.1em;
		font-weight: lighter;
	}
}

@media(max-width:1350px){
	.about_text{
		margin-top:10%;
	}

	.stack > li > div:first-child{
		width:50%;
		padding-bottom: 50%;
	}

	.main2_about{
		padding:3%;
	}

	.round,.round4{
		width:35%;
		padding-bottom:35%
	}

	.round3,.round2{
		width:45%;
		padding-bottom: 45%;
	}

}

@media(max-width: 1200px){
	.header1{display:none;}
	#main_section,#main_section2,#main3_section,#main4_seciton,footer{width:100%;}
	.header2{display:block;}
	.about_text h4{font-size:1em;}
}

@media(max-width:1050px){
	.main2_about{padding:2%}
	.stack > li > div:first-child {width: 55%;padding-bottom: 55%;}
	#main3_section > div{padding-top:3%;}
	.about_text {line-height:1.5em;font-size: 1.1em;}
	.view_active > div{padding:1%;}
	.round, .round4 {width:40%;padding-bottom: 40%;}
}

@media(max-width:950px){
	#main3_section > div {padding:1%;}
	#main3_section > div:last-child {width: 65%;}
	#main3_section > div:first-child {width:35%;}
	/* .view_about > .abouts{width:100%;}
	.content_wrap > div{width:100%;} */
}

@media(max-width:900px){
	.view_about > .abouts{width:100%;}
	.content_wrap > div{width:100%;}
	.desk{display: none}
	.desk2{display: block;}
	.main2_about{padding:5% 5% 0% 5%;}
	.view_about > div:nth-child(3){bottom:50%;right:0%;left: inherit;}
	.about_text{font-size:1.2em;}
	.round{top:10%;}
	.round3{width:55%;padding-bottom:55%}
	.header2 > div:first-child > img{width:20%;}
	#main3_section > div:first-child{width:100%;height:40%;}
	#main3_section > div:last-child{width:100%;height: auto;}
	#main3_section{height:auto !important;}
	.stack > li > div:first-child{width:45%;padding-bottom: 45%}
	#main4_seciton{margin-top:5%;}
	#main3_section > div:first-child > div{text-align: center;}
	footer > img{width:15%;}
}

@media(max-width:730px){
	.view_active > div{width:50%;}
	.view_active > div:last-child{width:100%;}
	.view_active > div:last-child > div{width:49%;float:left;}
	.view_active > div:last-child > div:first-child{margin-right:1%;}
	.view_active > div:last-child > div:last-child{margin-left:1%;}
	.view_about > div:nth-child(3){width:10%;padding-bottom: 10%}
	.header2 > div:first-child > img{width:25%;}
}

@media(max-width:620px){
	.round3{width:65%;padding-bottom: 65%;bottom:-25%;}
	.header2 > div:first-child{width:30%;}
	.header2 > div:last-child{width:70%;}
	.header2 > div:first-child > img{width:45%;}
	.main2_about{padding:5%;}
	#main3_section{margin-top:5%;padding:5% 0%;}
	#main_section2{height:auto;}
	.view_about > div:nth-child(3){width:15%;padding-bottom:15%}
}

@media(max-width:550px){
	.stack > li > div:first-child{width:55%;padding-bottom: 55%}
	.main2_about{padding:2%;}
	.about_text{margin-top:5%;}
	.about_text > div{margin-top:3%;}
	.view_menu > li{padding: 1.5% 2.5%;}
	.about_text h4{font-size:0.9em;}
	.about_text{font-size:1em;}
	.header2 > div:first-child > img{width:55%;}
	.view_active > div{width:100%;}
	.view_active > div:last-child > div{width:100%;margin-left:0%;margin-right:0%}
	footer > img{width:22%;}
}

@media(max-width:450px){
	.stack > li{width:50%;}
	.header2 > div:first-child{width:20%;}
	.header2 > div:first-child > img{width:80%;}
	.main_menu2 > li{font-size:1.2em;}
	.desk{display: block}
	.desk2{display: none;}
}
